@model IEnumerable<CrudWithRepository_Core.Product>

    @{
        ViewData["Titile"] = "Product List";
    }

    <h3>@ViewData["Titile"]</h3>
    <hr/>
   <form>
    <button asp-action="CreateOrEdit" asp-controller="Product" class="btn btn-primary mb-3">Create Product</button>
    <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr class="table-active">
                <th>
                    @Html.DisplayNameFor(model => model.Id )
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName )
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price )
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Qty )
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                @foreach(var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.ProductName</td>
                        <td>@product.Price</td>
                        <td>@product.Qty</td>
                        <td >
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="product" asp-action="CreateOrEdit" asp-route-id="@product.Id" class="btn btn-success">Edit</a>
                                <a asp-controller="product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>

                            </div>
                            
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                        <div>
                            No Product avilable at this moment
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>